#header {
  text-align: center;
  padding-bottom: 6em;
  border-style: solid;
  border-width: thin;
}

.headerImg{
  /*background: url(http://photos2.demandstudios.com/DM-Resize/photos.demandstudios.com/getty/article/154/235/200372915-001_XS.jpg?w=1200&h=630&crop_min=1&keep_ratio=1) no-repeat fixed 0 0 / cover;*/
  height: 500px;
  width: 100%;
}


#inputSection {
  text-align: center;
  padding: 2em 2em;
  border-style: solid;
  border-width: thin;
}

#clothingRec {
  height: 20em;
  width: auto;
  text-align:center;
  border-style: solid;
  border-width: thin;
}

img{
  height: 10em;
  width: 10em;
  border-style: solid;
  border-width: thin;
}

#line {
  height: 1px;
  width:100%;
  margin-top:5em;
  margin-bottom: 5em;
  display:block;
  background-color: black;
}

#followMe {
  text-align:center;
  margin-bottom:10em;
}

.recPic {
  display:inline-block;
}
