#header {
  text-align: center;
  padding-bottom: 6em;

}

.titleWrapper{
  border-style: solid;
  border-width: thin;
}
.weatherImg {
  height: 40em;;
  width: 100%;
}


#inputSection {
  text-align: center;
  padding: 2em 2em;
}

.clothingRecImage{
  height: 10em;;
  width: 10em;
}

#clothingRec {
  height: 20em;
  width: auto;
  text-align:center;
}

#line {
  height: 1px;
  width:100%;
  margin-top:5em;
  margin-bottom: 5em;
  display:block;
  background-color: black;
}

.howItWorksTitle, .howItWorksText {
  text-align:center;
}

img{
  height: 10em;
  width: 10em;
  border-style: solid;
  border-width: thin;
}

#followMe {
  text-align:center;
  margin-bottom:10em;
}

.icon {
  height: 4em;
  width: 4em;
  margin: 2em;
}

.recPic {
  display:inline-block;
}
