.weatherImgSection{
  height: 30em;
  width:100%;
}

.titleWrapper{
  text-align: center;
  position: absolute;
  margin-top: 100px;
  margin-left: 0;
  width: 100%;
}

.weatherImg {
  height: 30em;
  width: 100%;
}

#inputSection {
  text-align: center;
  padding-top:2em;
}

.clothingRecImage{
  height: 30em;;
  width: 30em;
  padding-top:2em;
}

#clothingRec {
  text-align:center;
  padding-top:2em;
}

#line {
  height: 1px;
  width:100%;
  margin-top:5em;
  margin-bottom: 5em;
  display:block;
  background-color: black;
}

.howItWorksTitle, .howItWorksText {
  text-align:center;
}

img{
  height: 10em;
  width: 10em;
  border-style: solid;
  border-width: thin;
}

#followMe {
  text-align:center;
  margin-bottom:10em;
}

.icon {
  height: 4em;
  width: 4em;
  margin: 2em;
}

.recPic {
  display:inline-block;
}
